* {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    /* background-color: aquamarine; */
}

.header{
    position: fixed;
    margin: -3%;
    padding: 1% 60%;
    border-bottom: solid 8px;
    border-color: pink;
    background-color: rgb(127, 219, 255);
    display:flex;
    z-index: 6;
}

#sociallinks{
    position: relative;
    left: 85%;
    top: 0.5em;
}

.wip{
    display: block;
    margin-left: auto;
    margin-right: auto;
    /* width: 30%; */
    text-align: center;
    justify-content: center;
}

#comingsoon{
    position: relative;
    padding: 1em;
    background-color: rgb(127, 219, 255);
    border: solid;
    border-color: pink;
    padding-top: 1em;
    padding-bottom: 10em;
}

h1{
    position: static;
    text-align: center;
}

h3 {
    margin: 10px;
    background-color: rgb(127, 219, 255);
}

.contactForm{
    position: relative;
    margin-left: auto;
    margin-right: auto;
    /* width: 20%; */
    bottom: 10em;
    text-align: center;
    justify-content: center;
}

#sendButton{
    position: relative;
    margin-left: auto;
    margin-right: auto;
    background-color: pink;
    width: 5em;
    justify-content: center;
}

.footer{
    position: fixed;
    background-color: rgb(127, 219, 255);
    bottom: 1%;
    padding: 0.25% 45%;
    margin: -2%;
    border-top: solid 8px;
    border-color: pink;
}

#copyright{
    position: relative;
    left: 330%;
}